pkgbase = gps-timesync
	pkgdesc = GPS time synchronization tool for Linux, BSD, and Windows systems
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Sudo-Ivan/gps-timesync
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	source = gps-timesync-1.0.0.tar.gz::https://github.com/Sudo-Ivan/gps-timesync/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = gps-timesync
	install = gps-timesync.install 